//------------------------------------------------------------------------------------------------
// LAYOUT OBJECT
//------------------------------------------------------------------------------------------------

/*
The layout object is used to construct a grid-like layout system, with each
layout__item representing an individual column. Typically used with
container object and width utilities to form a grid system.
*/

/*
<div class="o-layout">
	<div class="o-layout__item u-6/12">CONTENT</div>
	<div class="o-layout__item u-6/12">CONTENT</div>
</div>
*/


// BLOCK & ELEMENTS
//------------------------------------------------------------------------------------------------

/*
[1] Allows us to use the layout object on any type of element.
[2] We need to defensively reset any box-model properties.
[3] Absorb amount equal to half of $gutter on either side to account for
their spacing.
*/

.o-layout {
	align-items:flex-start;
	display:flex; /* [1] */
	flex-direction:row;
	flex-wrap:wrap;
	margin:0; /* [2] */
	padding:0; /* [2] */
	margin-left:rem(-$gutter / 2); /* [3] */
	margin-right:rem(-$gutter / 2); /* [3] */
}

/*
[1] Required in order to combine fluid widths with fixed gutters.
[2] Removes bullet points if layout is a list
*/

.o-layout__item {
	box-sizing:border-box; /* [1] */
	list-style:none; /* [2] */
	padding-left:rem($gutter / 2);
	padding-right:rem($gutter / 2);
	vertical-align: top;
	width:100%;
}


// FLUSH MODIFIER
//------------------------------------------------------------------------------------------------

/*
Flush removes the gutter between layout items.
*/

/*
[1] Remove negative margins as we no longer have to absorb any paddings
from columns
*/

.o-layout--flush {
	margin-left:0; /* [1] */
	margin-right:0; /* [1] */
	& > .o-layout__item {
		padding-left:0;
		padding-right:0;
	}
}


// FIT MODIFIER
//------------------------------------------------------------------------------------------------

/*
Allows each layout item to size itself automatically by dividing the space
equally between the total number of items.
*/

.o-layout--fit {
	flex-wrap:nowrap;
}


// EQUAL HEIGHT MODIFIERS
//------------------------------------------------------------------------------------------------

/*
Makes each column have an equal height. Also includes modifiers for
individual columns.
*/

.o-layout--fit-height {
	align-items:stretch;
}

.o-layout__item--fit-height {
	align-self:stretch;
}

/*
This stretches the immediate content of a layout__item, and would
typically be used in combination with either of the above modifiers
*/

.o-layout__item--content-fit-height {
	display:flex;
	align-items:stretch;
}


// INLINE MODIFIER
//------------------------------------------------------------------------------------------------

/*
Moves away from columns, making every layout item an inline object.
*/

.o-layout--inline > .o-layout__item {
	width:auto;
}

@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		.o-layout--inline\@#{$bp-name} > .o-layout__item {
			width:auto;
		}
	}
}


// FILL MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Makes a layout fill all avaiable space.
*/

.o-layout--fill,
.o-layout__item--fill  {
	flex-grow:1;
}


// SPACING MODIFIERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Tweak the spacing between individual columns.
*/

// Generate using settings.spacing
// Example o-layout--spacing-small
@each $sp-name, $sp-value in $spacing {
	.o-layout--spacing-#{$sp-name} {
		margin-left:rem(-$sp-value / 2);
		margin-right:rem(-$sp-value / 2);
		& > .o-layout__item {
			padding-left:rem($sp-value / 2);
			padding-right:rem($sp-value / 2);
		}
	}
}


// VERTICAL ALIGNMENT MODIFIERS
//------------------------------------------------------------------------------------------------

/*
Modifiers to change the vertical alignment of the whole layout or just
individual columns.
*/

.o-layout__item--top {
	align-self:flex-start;
}

.o-layout--bottom {
	align-items:flex-end;
}

.o-layout__item--bottom {
	align-self:flex-end;
}

.o-layout--middle {
	align-items:center;
}

.o-layout__item--middle {
	align-self:center;
}


// HORIZONTAL ALIGNMENT MODIFIERS
//------------------------------------------------------------------------------------------------

/*
Modifiers to change the horizontal alignment of the whole layout.
*/

.o-layout--right {
	justify-content:flex-end;
}

.o-layout--center {
	justify-content:center;
}

.u-vert-overflow {
	overflow-y:auto;
}