.c-table {
	display:block;
	width: 100%;
	border-collapse: collapse;
	background-color: #444943;
}

.c-table th {
	padding: 5px;
	text-align: left;
	width: 60%;
}

.c-table td {
	padding: 5px;
	text-align: right;
}

.c-table tr:nth-child(odd) {
	background-color: #515e4e;
}

.c-table--small {
	font-size: rem(14px);
}